<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Authorize</title>
  <link href="{{url_for('static', filename = 'authorize.css')}}" rel="stylesheet" type="text/css" />
</head>

<body id="mainBody">
    <h1>Flask DIM</h1>
    <div id="authButton"><a href="https://www.bungie.net/en/oauth/authorize?client_id=41465&response_type=code&state=6i0mkLx79Hp91nzWVeHrzHG4" id="authLink">Authorize with bungie.net</a></div> 
</body>

</html>
